@use "../utilities";

.stories-slider {
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  &__item {
    white-space: normal;
    display: inline-block;
    margin-left: 29px;
    width: 544px;
    vertical-align: top;
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: utilities.spacing(7.5);
  row-gap: utilities.spacing(11.5);

  &__item {
    &--large {
      grid-column: span 8 / span 8;
      grid-row: span 2 / span 2;
    }

    grid-column: span 4 / span 4;
    grid-row: span 1 / span 1;
  }
}
