@use "../utilities";
@use "../variables";
@use "../mixins";

.navbar {
  box-shadow: 0px 1px 4px 0px #0c0c0d0d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: variables.$main-background;
  z-index: variables.$navbar-z-index;

  &__content {
    padding: utilities.spacing(3);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.lg {
      padding: utilities.spacing(5);
    }
  }

  &__logo {
    width: 180px;
    height: 100%;

    @include mixins.lg {
      width: 254px;
    }
  }

  &__actions {
    display: none;

    @include mixins.md {
      display: flex;
      align-items: center;
      gap: utilities.spacing(5);
    }

    @include mixins.lg {
      gap: utilities.spacing(7.5);
    }

    &-mobile {
      display: block;
      position: relative;

      @include mixins.md {
        display: none;
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
          width: 28px;
          height: 28px;
          object-fit: contain;
        }
      }

      &-menu-wrapper {
        transition: opacity 0.5s ease;
      }

      &-menu {
        @keyframes fade-menu {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }

        position: absolute;
        top: 100%;
        right: 0;
        background-color: #ffffff;
        padding: utilities.spacing(3);
        border-radius: utilities.spacing(2);
        margin-top: utilities.spacing(2);
        box-shadow: 0 2px 2px 2px #00000017;
        min-width: 150px;
        display: flex;
        align-items: center;
        gap: utilities.spacing(3);
        flex-direction: column;
        animation: fade-menu 0.5s ease;

        .btn {
          width: 100%;
        }
      }
    }
  }
}
