// // Colors
$primary-color: #466543;
$primary-color-light: #f0f5ed;
$main-background: #ffffff;
$text-color: #222222;

// Breakpoints
$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1536px;

// Fonts
$font-size: 18px;
$mobile-font-size: 16px;

// Z-Indexes
$navbar-z-index: 100;
$modal-overlay-z-index: 200;
$modal-z-index: 201;
