@use "./variables" as *;
@use "./reset" as *;
@use "./utilities" as *;
@use "./mixins" as *;
@use "./layouts" as *;

@use "./components/buttons" as *;
@use "./components/navbar" as *;
@use "./components/footer" as *;
@use "./components/story-card" as *;

@use "./sections/stories" as *;

@use "./pages/home" as *;

body {
  background-color: $main-background;
  color: $text-color;
  font-family: "DM Sans", sans-serif;
}
